<h1>Marvel y DC</h1>
<hr>

<div class="row" *ngIf="hero.length === 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      no existen resultados para la busqueda
    </div>
  </div>

</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let heroe of hero; let i = index">
        <div class="card">
          <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
          <div class="card-body">
            <h5 class="card-title">{{heroe.nombre}}</h5>
            <p class="card-text">{{heroe.bio}}</p>
            <button type="button" class="btn btn-outline-primary" (click)="verHeroe(i)"> Ver mas ...</button>
          </div>
        </div>
</div>